<ion-header>
  <ion-toolbar class="android-attr">
    <ion-title>Stay Connected!</ion-title>
    <ion-buttons start>
      <button (click)="closeContactus()" ion-button outline style="border-color:white; color:white; background-color:
      #f53d3d">
        <span primary showWhen="ios">Cancel</span>
        <ion-icon name='close' showWhen="android"></ion-icon>
        <ion-icon name='close' *ngIf="browser"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="modal-sm" padding class="contactus">
  <form [formGroup]="contactForm">
    <ion-item text-wrap>
      <ion-label>
        Be the first to get latest updates and exclusive content straight to your email inbox. Click 'Connect Me!' now.
      </ion-label>
    </ion-item>

    <ion-item [class.error]="!email.valid && email.touched">
      <ion-label class="required-label">Email</ion-label>
      <ion-input focuser fixed-label formControlName="email" type="email"
                 placeholder="Your best email address"></ion-input>
    </ion-item>
    <div class="padding" [hidden]="contactForm.valid">
      <p class="form-error"
         *ngIf="contactForm.get('email').touched && email.hasError('required')">* Email is required !</p>
      <p class="form-error" [hidden]="contactForm.get('email').untouched || contactForm.get('email').valid">
        * Please enter a valid email address !</p>
    </div>
    <ion-item>
      <button ion-button icon-left large color="danger" (click)="doSubscribe()" [disabled]="!contactForm.valid"><ion-icon name="mail"></ion-icon>Connect Me !</button>
    </ion-item>
  </form>
</ion-content>
